<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>

        <!-- MENU ROOT -->
        <menuitem
            id="menu_root"
            name="QLTL"
            sequence="0"/>

        <!-- MENU BẢNG LƯƠNG -->
        <menuitem
            id="menu_bang_luong"
            name="Quản lý tính lương"
            parent="menu_root"
            sequence="1"
            action="action_bang_luong"
        />

        <!-- MENU CHA: QUẢN LÝ THUẾ -->
        <menuitem
            id="menu_thue_root"
            name="Quản lý Thuế"
            parent="menu_root"
            sequence="2"
        />
         <!-- MENU -->
        <menuitem
            id="menu_dashboard_luong"
            name="Dashboard lương"
            parent="menu_root"
            action="action_dashboard_luong"
            sequence="5"/>

        <!-- MENU CON -->
        <menuitem
            id="menu_thue_thu_nhap"
            name="Cấu hình Thuế TNCN"
            parent="menu_thue_root"
            action="action_thue_thu_nhap"
            sequence="1"
        />

        <menuitem
            id="menu_thue_bac"
            name="Bậc thuế"
            parent="menu_thue_root"
            action="action_thue_thu_nhap_bac"
            sequence="2"
        />
        <menuitem id="menu_tien_thuong"
          name="Quản lí tiền thưởng"
          parent="menu_root"
          action="action_tien_thuong"
          sequence="3"/>
        <menuitem id="menu_phieu_luong"
          name="Phiếu lương"
          parent="menu_root"
          action="action_phieu_luong"
          sequence="4"/>
        <menuitem id="menu_ky_luat"
          name="Quản lý kỷ luật"
          parent="menu_root"
          action="action_ky_luat"
          sequence="4"/>

    </data>
</odoo>
